{% comment %}
Unified CSS settings so that no distinguishment between internal / external
script is needed.

Make use of loadCSS polyfill to load all styles asynchronously.

If preload and SRI are used together, it is essential to add integrity to link element
https://github.com/w3c/preload/issues/127
{% endcomment %}
{%- assign all_css = layout.common-css -%}
{%- if layout.css -%}{%- assign all_css = all_css | concat: layout.css -%}{%- endif -%}
{%- if   page.css -%}{%- assign all_css = all_css | concat:   page.css -%}{%- endif -%}

{%- assign all_css = all_css | compact | uniq -%}

{%- for css in all_css -%}

	{%- if css.first -%}
		{%- assign href = css.first[0] -%}
		{%- assign prop = css.first[1] -%}
	{%- else -%}
		{%- assign href = css -%}
		{%- assign prop = nil -%}
	{%- endif -%}

	{%- capture attrs -%}
	{%- if prop.sri -%}
		{% comment %}
		Using SRI on local resource is pointless, but still adding filter anyway for safety
		{% endcomment %}
		href="{{ href | relative_url }}" integrity="{{ prop.sri }}" crossorigin="anonymous"
	{%- else -%}
		href="{{ href | relative_url }}"
	{%- endif -%}
	{%- endcapture -%}

	{% if prop.critical %}{% comment %} No preload for important CSS {% endcomment %}
	<link rel="stylesheet" {{ attrs }}>
	{% else %}
	<link rel="preload" {{ attrs }} as="style" onload="this.onload=null;this.rel='stylesheet'">
	<noscript><link rel="stylesheet" {{ attrs }}></noscript>
	{% endif %}

{%- endfor -%}
	<link rel="stylesheet" href="{{ site.css.main | relative_url }}">
