<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">

{% include head/metainfo.html %}

<!-- Start style sheets -->
{% include head/load-css.html %}
<!-- End style sheets -->

{% include trackers.html place="head" %}

{%- comment -%}
Scripts can be loaded ASAP instead of in footer now, with
requirejs handling async loading and dependencies
{%- endcomment -%}
{% include head/scripts.html %}

</head>