{%- comment -%}
TODO: Consider pure CSS dropdown as fallback in noscript
{%- endcomment -%}
{%- assign urlEncoded   = page.url | absolute_url | url_encode -%}
{%- assign titleEncoded = page.title | url_encode -%}

<div id=social-share-menu class="dropdown pull-right">
	<button class="btn btn-default dropdown-toggle dropdown-menu-right" type="button"
	id="social-share-btn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
		Share on
		<span class="caret"></span>
	</button>
	<ul class="dropdown-menu" aria-labelledby="social-share-btn">
	{%- for social in site.shareable-link -%}
	{%- assign element = site.data.SocialNetworks[social] -%}
	{%- unless element.shareURL -%}
		{%- continue -%}
	{%- endunless -%}
	{%- assign href = element.shareURL | replace: '@url@', urlEncoded | replace: '@title@', titleEncoded %}
		<li><a href="{{ href }}" aria-label="Share on {{ element.name }}">{{ element.name }}</a></li>
	{% endfor -%}
	</ul>
</div>
