/* Post metadata (creation time, tags, etc) */

.post-meta {
	text-align: left;
}

.post-time {
	color: rgba(black,60%);
	font-family: $font-family-content;
	font-style: italic;
	&:before {
	@include fas-solid("\f304", null, 0.3em); // fa-pen
	}
}
.tag:before {
	@include fas-solid("\f02b", null, 0.3em); // fa-tag
}
