/* ==========================================================================
 Forms
 ========================================================================== */
#staticman-form-wrapper input, #staticman-form-wrapper textarea {
	width: 100%;
	padding: 0.25em 0.5em;
	border: 1px solid rgba(0,0,0,0.2);
	box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
	background-color: rgba(255,255,255,0.7);
}
#staticman-form-wrapper input[type="button"], #staticman-form-wrapper input[type="reset"], #staticman-form-wrapper input[type="submit"] {
	width: auto;
	cursor: pointer;
	overflow: visible;
}
#staticman-form-wrapper textarea {
	resize: vertical;
}
/*
 Focus & active state
 ========================================================================== */
#staticman-form-wrapper input:focus, #staticman-form-wrapper textarea:focus {
	border: 1px solid rgba(0,0,0,0.4);
	box-shadow: inset 0 0 5px rgba(0,0,0,0.4);
	background-color: rgba(255,255,255,0.95);
	outline: 0;
	outline: thin dotted \9;
}
#staticman-form-wrapper input[type="file"]:focus, #staticman-form-wrapper input[type="radio"]:focus, #staticman-form-wrapper input[type="checkbox"]:focus {
	box-shadow: none;
}
#staticman-form-wrapper .field-help {
	margin-bottom: 1em;
}
/*
 Comments
 ========================================================================== */
#staticman-form-wrapper {
	background-color: rgba(0,0,0,0.1);
	padding: 30px;
	border-radius: 4px;
}
#staticman-form-wrapper > *:first-child {
	margin-top: 0;
}
#staticman-form-wrapper > *:not([class~="hidden"]):last-child {
	margin-bottom: 0;
}
.comments-container .comment {
	margin: 1em 0;
}
.comments-container .comment:not(:last-child) {
	border-bottom: 3px solid rgba(0,0,0,0.1);
}
.comments-container .comment-avatar {
	margin: 0 20px 20px 0;
}
/* Don't print comment form on print */
@media print {
	#staticman-form-wrapper {
		display: none;
	}
}

/* spinner from loading.io */
.spinner {
	display: inline-block;
	width: 34px;
	height: 34px;
	margin-left: 0.3em;
	margin-right: 0.3em;
	vertical-align: middle;
}
.spinner:after {
	content: " ";
	display: block;
	width: 34px;
	height: 34px;
	border-radius: 50%;
	border-width: 0.3em;
	border-style: solid;
	border-color: #444 transparent #444 transparent;
	animation: spinner 2s linear infinite;
}
@keyframes spinner {
	0%   { transform: rotate(0deg)   }
	100% { transform: rotate(360deg) }
}

#staticman-form-wrapper .g-recaptcha {
	float: right;
	width: 164px;
	height: 76px;
}

@media only screen and (max-width: 479px) {
	#staticman-form-wrapper {
		padding: 10px;
	}
	#staticman-form-wrapper .g-recaptcha {
		float: none;
		margin-bottom: 15px; /* $form-group-margin-bottom */
	}
}