{%- assign c = include.comment -%}
<article id="comment-{{ c._id | slice: 0,8 }}" class="comment clearfix">
<img class="comment-avatar pull-left img-circle" src="https://secure.gravatar.com/avatar/{{ c.email }}?d=mp&s=100&r=g" alt="{{ c.name }}">
<div>
	<span class="comment-author h3">
	{%- if c.url.size > 0 %}
		<a rel="external nofollow noopener" href="{{ c.url }}">{{ c.name }}</a>
	{%- else %}
		{{ c.name }}
	{%- endif %}
	</span>
	&#x2022;
	<span class="post-meta">
		<time datetime="{{ c.date | date_to_xmlschema }}">{{ c.date | date: "%B %-d, %Y" }}</time>
	</span>
	<div class="comment-text">{{ c.message | xml_escape | markdownify }}</div>
</div>
</article>
