{% if site.data.comments[page.slug] %}
<section class="staticman-comments comments-container">
<!-- Start static comments -->
<h2 class="text-center">Comments</h2>
{% assign comments = site.data.comments[page.slug] | sort -%}
{%- for comment in comments -%}
	{%- comment %}comment[0] is file name{% endcomment -%}
	{%- include comment/staticman-comment.html index=forloop.index comment=comment.last -%}
{%- endfor %}
<!-- End static comments -->
</section>
{%- endif %}

<!-- Start new comment form -->
<section id="staticman-form-wrapper" class="hidden">
<h3>{{ site.data.ui-text[site.locale].comments_label | default: "Leave a Comment" }}</h3>
<form method="get" action="{{ '' | absolute_url }}">
	<fieldset class="form-group">
		<textarea aria-label="Your comment" type="text" rows="5" name="fields[message]" placeholder="Your comment"></textarea>
		<div class="small field-help"><a href="https://kramdown.gettalong.org/syntax.html">Markdown is supported.</a> All HTML tags are not honored.</div>
	</fieldset>
	<fieldset class="form-group">
		<input aria-label="Name" type="text" name="fields[name]" placeholder="Name" />
	</fieldset>
	<fieldset class="form-group">
		<input aria-label="Email (for avatar only, not disclosed)" type="email" name="fields[email]" placeholder="Email (for avatar only, not disclosed)" />
	</fieldset>
	<fieldset class="form-group">
		<input aria-label="Website (optional)" type="url" name="fields[url]" placeholder="Website (optional)" />
	</fieldset>

	<input type="hidden" name="options[origin]" value="{{ page.url | absolute_url }}">
	<input type="hidden" name="options[slug]" value="{{ page.slug }}">
	{% if site.staticman.reCaptcha.siteKey and site.staticman.reCaptcha.secret %}
	<input type="hidden" name="options[reCaptcha][siteKey]" value="{{ site.staticman.reCaptcha.siteKey }}">
	<input type="hidden" name="options[reCaptcha][secret]"  value="{{ site.staticman.reCaptcha.secret  }}">
	{% endif %}

	<div id="staticman-submit-wrapper" class="form-group clearfix">
		{% if site.staticman.reCaptcha.siteKey %}
		<div class="pull-right g-recaptcha" data-sitekey="{{ site.staticman.reCaptcha.siteKey }}"></div>
		{% endif %}
		<button type="submit" class="btn btn-primary">Submit Comment</button>
		<span class="spinner"></span>
	</div>

	<div class="alert alert-success hidden">Thanks for your comment! It will show on the site once it has been approved.</div>
	<div class="alert alert-danger hidden">Error occurred during comment submission. Please contact site owner if problem persists. Error is: <strong id="staticman-ajax-error"></strong></div>
</form>
</section>
<!-- End new comment form -->
<noscript><div class="alert alert-warning"><strong>Please enable JavaScript</strong> to post comments powered by Staticman.</div></noscript>
