---
common-css:
  - "/assets/css/main.css"
  - "/assets/css/override.css"
common-ext-css:
  -
    href: "//stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    sri: "sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
  -
    href: "//cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css"
    sri: "sha256-rFMLRbqAytD9ic/37Rnzr2Ycy/RlpxE5QH52h7VoIZo="
  -
    href: "//use.fontawesome.com/releases/v5.9.0/css/all.css"
    sri: "sha384-i1LQnF23gykqWXg6jxC2ZbCbUMxyw5gLZY6UiUS98LYV5unm8GWmfkIS6jqJfb4E"
common-googlefonts:
  - "Lora:400,700,400italic,700italic"
  - "Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
---

<!DOCTYPE html>
<html lang="en">
  {% include head.html %}

  <body>

    {% include gtm_body.html %}

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

    {% include footer-scripts.html %}

  </body>
</html>
