---
common-css:
  - "/assets/css/main-minimal.css"
common-ext-css:
  -
    href: "//stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
    sri: "sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu"
common-ext-js:
  -
    href: "//code.jquery.com/jquery-1.12.4.min.js"
    sri: "sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  -
    href: "//stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"
    sri: "sha384-aJ21OjlMXNL5UyIl/XNwTMqvzeRMZH2w8c5cRVpzpU8Y5bApTppSuUkhZXN0VxHd"
---

<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div role="main" class="container main-content">
      {{ content }}
    </div>

    {% include footer-minimal.html %}

    {% include footer-scripts.html %}

  </body>
</html>
